html, body {
  font-family: monospace;
  text-align: center;
}

          .topper {
            text-align: center;
          }

h1 {
  text-align: center;
  letter-spacing: 5px;
  font-size: 30px;
}

.output {
 text-align: center;
 margin-top: 1em;
 font-size: 15px;
/* display: none;*/
}

#defaultCanvas0 {
  display: block;
  margin: auto;
  transform-origin: 50% 0;
  transform: scale(0.5);
}

p{
  font-family: monospace;
  text-align: center;
  font-size: 14px;
  max-width: 470px;
  min-width: 280px;
  margin: auto;
}

input[type=color] {
  width: 40px;
  height: 40px;
  vertical-align: left;
  margin-top: 10em;
}

a{
  text-decoration: none;
  color: black;
}

#color_relations {
  font-family: monospace;
  outline-style: solid;
  outline-color: grey;
  outline-width: thin;
  border: black;
  background-color: white;
  border-radius: 10px;
  padding: 3px;
}

#picker {
  outline-style: solid;
  outline-color: grey;
  outline-width: thin;
  border: black;
  background-color: white;
  border-radius: 5px;
  padding: 4px;
}

input {
  width: 230px;
  height: 40px;
  font-family: monospace;
}

                  #color {
                    margin: auto;
                    margin-top: 5px;
                    width: 100%;
                    height: 200px;
                    border-radius: 5px;
                    margin-bottom: 4em;
                  }

                  .options {
                    display: flex;
                    vertical-align: middle;
                  }

                  .color_relations__option {
                    width: 32px;
                    height: 32px;

                  }

canvas {
  display: block;
}
, 