html, body {
  font-family: monospace;
  text-align: center;
}

          .topper {
            text-align: center;
          }

h1 {
  text-align: center;
  letter-spacing: 5px;
  font-size: 30px;
}

.output {
 text-align: center;
 margin-top: 1em;
 font-size: 15px;
/* display: none;*/
}


/*.hidden {
  display: none;
}*/



p{
  font-family: monospace;
  text-align: center;
  font-size: 14px;
  max-width: 440px;
  min-width: 280px;
  margin: auto;
}

input[type=color] {
  width: 40px;
  height: 40px;
  vertical-align: left;
  margin-top: 3em;
}



a{
  text-decoration: none;
  color: black;
}


#color_relations {
  font-family: monospace;
  outline-style: solid;
  outline-color: grey;
  outline-width: thin;
  border: black;
  background-color: white;
  border-radius: 10px;
  padding: 3px;
}

#picker {
 outline-style: solid;
  outline-color: grey;
  outline-width: thin;
  border: black;
  background-color: white;
  border-radius: 5px;
  padding: 4px;
}

#defaultCanvas0 {
  display: block;
  margin: auto;
  transform-origin: 50% 0;
  transform: scale(0.5);
}


input {
  width: 230px;
  height: 40px;
  font-family: monospace;
}

                  #color {
                    margin: auto;
                    margin-top: 5px;
                    width: 100%;
                    height: 200px;
                    border-radius: 5px;
                  margin-bottom: 4em;
                  }

                  #analogous, #complementary, #split-complementary, #triadic, #tetradic, #square {
                    text-align: center;
                    display: inline-block;
                    border-radius: 2px;
                  }


                  #analogous1, #analogous2, #analogous3, #split-complementary1, #split-complementary2, #split-complementary3, #triadic1, #triadic2, #triadic3 {
                    display: inline-block;
                    width: 32px;
                    height: 32px;
                  }

                  #complementary1, #complementary2 {
                    display: inline-block;
                    width: 32px;
                    height: 32px;
                  }

                  #tetradic1, #tetradic2, #tetradic3, #tetradic4, #square1, #square2, #square3, #square4 {
                    display: inline-block;
                    width: 32px;
                    height: 32px;
                  }

                  #analogous1, #complementary1, #split-complementary1, #triadic1, #tetradic1, #square1 {
                    border-radius: 2px 0 0 2px;
                  }

                  #analogous3, #complementary2, #split-complementary3, #triadic3, #tetradic4, #square4 {
                    border-radius: 0 2px 2px 0;
                  }

canvas {
  display: block;
}